@page "/teams/all";
@model BuildTrackerApp.Pages.Teams.ViewAllTeamModel
@{
}

<div class="container  team__container">
    <div class="card">
        <div class="card-header">
            <h6>Product Development Team</h6>
        </div>
        <div class="card-body">
            <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Team</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Function</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Task</th>
                    </tr>
                </thead>
                <tbody>
                     @foreach(var team in Model.Teams)
                    {
                    <tr>
                        <td>
                            <div class="myflex d-flex justify-content-center px-2 py-1">
                            <div>
                            <img src=@($"/img/team-{@team.Id}.jpg") class="avatar avatar-sm me-3" alt="user1" />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">@team.FirstName @team.LastName</h6>
                            <p class="text-xs text-secondary mb-0">@team.Email</p>
                            </div>
                            </div>
                        </td>
                            <td>
                            <p class="text-xs font-weight-bold mb-0">@team.ProductRole</p>
                            <p class="text-xs text-secondary mb-0">@team.Role</p>
                            </td>
                              <td class="align-middle text-center text-sm">
                                <span class="badge badge-sm @(team.Status ? "bg-gradient-success" : "bg-gradient-warning")">
                                    @(team.Status ? "Online" : "Offline")
                                </span>
                              </td>
                        
                            <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">@team.Task</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

